<h1><%= @movies.size %> phim</h1>

  <% @movies.each do |movie| %>
      <article>
        <header>
          <h2>
            <%= link_to(movie.translatedTitle, movie_path(movie)) %>
            (<%= movie.year %>)
          </h2>
          <main>
            <p><%= movie.aired_from %></p>
          </main>
        </header>
      </article>
  <% end %>
